#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.red-marker {
  color: red;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}
