#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.token-label {
  background: none !important;
}

.token-label div {
  color: black;
  font-weight: bold;
  text-align: center;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.red-marker {
  color: red;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}
